/*====================================== GLOBAL CSS =============================== */
body{
	background-image	: url("/Cuisine/img/background.jpg");	 	
}
	

div.page{
	width 				: 78%;
	height				: 1500px;
	 margin				: auto;
	 padding			: 10px;
	 	
	 background-color	: #8B0000;
	 border-style		: double;
	 border-width		: 8px;
	 border-color		: #FFD700;
	 color				: #FFD700;	 	
}	
	 

/*====================================== LEFT SIDE CSS =============================== */	
div.left{
	float				: left;
	width				: 10%;
}

div.homepage{	
	opacity				: 0.8;
}
.homepage img{
	width				: 90%;
}

/*====================================== RIGHT SIDE CSS =============================== */
div.right{
	float				: right;
	width				: 10%;
	color				: #00eaff;
}


div.language{
	border-style		: ridge;
	border-width		: 2px;
	border-color		: white;
	text-align			: center;
}
	

div.loginform{
	border-style		: ridge;
	border-width		: 2px;
	border-color		: white;
}
.loginform input{
	background-color	: navy;
	color				: cyan;
	border-style		: ridge;
	border-width		: 2px;
	border-color		: blue;
}
	 
/************** main **********/
	div.main{
		margin-left				: 18%;
	}

/************  page accueil *************/
	.intro p{
	 	margin				: 30px;
	 	text-indent			: 20px;
	 }
	.intro ul{
	 	margin				: 30px;
	 	text-indent			: 00px;
	 	list-style			: circle;
	 }
	.intro a:link{
	 	text-decoration		: none;
	 	color				: #FFFF00;
	}
	.intro a:visited{
	 	text-decoration		: none;
	 	color				: #FFFF00;
	}
	.intro a:hover{
	 	text-decoration		: underline;
	 	color				: #00FFCC;
	 	font-weight			: bold;
	 }
	.intro h2{
	 	text-align			: center;
	 	background-color	: #C9001A;
	}


/************* la page recette **********/
	/*** le menu à gauche ***/
	div.miam_menu{
	 	float				: left;
	 	background			: #AC0000;
	 	border-style		: inset;
	 	border-width		: 4px;
	 	border-color		: #ffde00;
	 	
	 	padding-top			: 0px;
	 	padding-bottom		: 10px;
	 	margin-bottom		: 20px
	 	margin-left			: 0px;
	 	width				: 240px;
	 	font-size			: 12px;
	}
	p.title{
	 	margin-top			: 0px;
		padding				: 5px;
	 	text-align			: center;
	 }
	.miam_menu p{
	 	color: #00FF7F;
	 	background-color	: #970000;
	 	font-weight			: bold;
	 	font-size			: 16px;
	 	text-indent			: 10px;
	 }
	ul.nom_recette{
	 	background			: #AC0000;
	 }
	.miam_menu a:link{
	 	text-decoration		: none;
	 	color				: #F7F12F;
	}
	.miam_menu a:visited{
	 	text-decoration		: none;
	 	color				: #F7F12F;
	}
	.miam_menu a:hover{
	 	text-decoration		: underline;
	 	color				: seashell;
	 	font-weight			: bold;
	}
	 
	 /*La dite recette*/
	 div.recette {
		background			: #AC0000;
		padding				: 20px;  
		margin-left			: 280px;
		margin-bottom		: 50px;
		
	 	border-style		: outset;
	 	border-width		: 4px;
	 	border-color		: #ffde00;
	}
	
	.recette p{
	 	font-weight			: bold;
	 	text-align			: center;
	 	font-size			: 26px;
	 	color				: yellow;
	 }
	 
	.recette dt{
	  	text-decoration		: underline;
	  	font-size			: 20px;
	  	color				: yellow;
	  }
	  
	.recette dd{
	 	margin-bottom		: 10px;
	 }
	 .recette form{
	  	text-align			: right;
	  }
	
/**********  page créer *********/
	.creer table{
	 	margin				: auto;
	 	margin-bottom		: 10px;
	 	border-style		: outset;
	 	border-color		: powderblue;
	 }
	.creer td{
		background-color	: #AF0000;
		color				: #E9C200;
	 	padding				: 5px;
	 	padding-bottom		: 10px;
	 	vertical-align		: top;
	 }
	 .creer p{
	  	text-align			: center;
	}
	

	 
/*************** Le livre d'or ******/
	table.post{
	 	margin				: auto;
	}
	td.pseudo{
	 	width 				: 70px;
	 	height				: 15px;
	 	background-color	: crimson;
	 }
	td.date{
	 	width				: 500px;
	 	height				: 15px;
	 	background-color	: crimson;
	 }
	td.post{
	 	width				: 500px;
	 	background-color	: crimson;
	 }	 
	
	p.post{
	 	text-align			: center;
	}
	.post a:link{
	 	text-decoration		: none;
	 	color				: #F7F12F;
	}
	.post a:visited{
	 	text-decoration		: none;
	 	color				: #F7F12F;
	}
	.post a:hover{
	 	text-decoration		: underline;
	 	color				: seashell;
	 	font-weight			: bold;
	 	background-color	: crimson;
	}
	 
	 
	 
	 
	 
	 