/* COLLAPSE BUTTON */
/* NOT COLLAPSED */
div.mythemes-header-antet button.btn-collapse{
	background-color: #26ad60;

	color: #ffffff;

	width: 46px;
	height: 32px;

	margin-top: 19px;
	text-align: center;

	float: right;

	-webkit-transition: all 1s ease-out;
       -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
}

div.mythemes-header-antet button.btn-collapse:focus,
div.mythemes-header-antet button.btn-collapse:hover{
	background-color: #00aeef;
}

/* COLLAPSED */
nav.base-nav button.btn-collapse{
	background: transparent;
	float: right;

	position: fixed;
	padding: 0px;

	right: calc( 5% - 24px);
	right: -webkit-calc( 5% - 24px );
	
	top: 16px;

	text-align: center;

	width: 52px;
	height: 38px;
}

body.admin-bar nav.base-nav button.btn-collapse{
	top: 48px;
}
nav.base-nav button.btn-collapse i{
	font-size: 28px;
	line-height: 38px;
	color: rgba( 255, 255, 255, 0.8 );

	-webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
    	 -o-transition: all 0.3s linear;
    	-ms-transition: all 0.3s linear;
    		transition: all 0.3s linear;
}
nav.base-nav button.btn-collapse i:hover{
	color: rgba( 255, 255, 255, 1.0 );
}

@media ( min-width: 1025px ){
	div.mythemes-header-antet button.btn-collapse.collapsed,
	div.mythemes-header-antet button.btn-collapse{
		display: none;
	}
	nav.base-nav button.btn-collapse.collapsed,
	nav.base-nav button.btn-collapse{
		display: none;
	}
}
@media ( max-width: 1024px ){
	div.mythemes-header-antet button.btn-collapse{
		display: block;
	}

	div.mythemes-header-antet button.btn-collapse.collapsed{
		display: none;
	}

	nav.base-nav button.btn-collapse{
		display: none;
	}

	nav.base-nav button.btn-collapse.collapsed{
		display: block;
	}
}

/* GENERAL FOR HEADER MENU'S */
nav.base-nav div.mythemes-menu ul li,
nav.base-nav ul.mythemes-menu li{
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
}
nav.base-nav div.mythemes-menu ul li a,
nav.header-nav ul.mythemes-menu li a{
	font-family: Montseratt, sans-serif, Arial, serif;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

nav.base-nav ul a,
nav.base-nav ul a:hover{
	text-decoration: none;

	-webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
    	 -o-transition: all 0.3s linear;
    	-ms-transition: all 0.3s linear;
    		transition: all 0.3s linear;
}




/* BASE MENU */
div.visible-nav{
	width: 0px;
	height: 0px;
	display: none;
	visibility: hidden;
}

/* BASE MENU  - MEDIUM AND LARGE SCREENS */
@media ( min-width: 1025px ){

	div.visible-nav{
		display: none;
		visibility: hidden;
	}
	div.jspVerticalBar{
		display: none !important;
	}
	div.jspContainer{
		overflow: inherit !important;
		position: relative !important;
		height: auto !important;
		width: auto !important;
	}
	div.jspPane{
		position: relative !important;
		width: auto !important;
	}
	nav.base-nav{
		padding: 15px 0px;
		text-align: right;
	}
	nav.base-nav{
		width: 100%;
	}

	nav.base-nav ul li a{
		color: #919497;
	}
	nav.base-nav ul li.current-menu-ancestor > a,
	nav.base-nav ul li.current-menu-item > a,
	nav.base-nav ul li:hover > a,
	nav.base-nav ul li a:hover{
		color: #ffffff;	
	}
	nav.base-nav ul.mythemes-menu > li.current-menu-ancestor > a,
	nav.base-nav ul.mythemes-menu > li.current-menu-item > a,
	nav.base-nav div.mythemes-menu > ul > li.current-menu-ancestor > a,
	nav.base-nav div.mythemes-menu > ul > li.current-menu-item > a{
		background-color: #26ad60;
		color: #ffffff;

		-webkit-border-radius: 3px;
	       -moz-border-radius: 3px;
	            border-radius: 3px;
	}
	nav.base-nav ul span.menu-plus{
		display: none;
	}
	nav.base-nav ul.mythemes-menu > li,
	nav.base-nav div.mythemes-menu > ul > li{
		padding: 0px;
	}
	nav.base-nav ul.mythemes-menu > li > a,
	nav.base-nav div.mythemes-menu > ul > li > a{
		padding: 11px 15px;
	}
	nav.base-nav ul.mythemes-menu > li.menu-item-has-children > a,
	nav.base-nav div.mythemes-menu > ul > li.menu-item-has-children > a{
		display: block;
	}

	/* ITEMS WITH SUB MENU */
	nav.base-nav ul.mythemes-menu > li.menu-item-has-children > a,
	nav.base-nav div.mythemes-menu > ul > li.menu-item-has-children > a{
		background-image: url(../img/nav-vertical-arrow.png);
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 24px;
	}
	nav.base-nav ul.mythemes-menu > li.menu-item-has-children.current-menu-ancestor > a,
	nav.base-nav div.mythemes-menu > ul > li.menu-item-has-children.current-menu-ancestor > a{
		background-image: url(../img/nav-vertical-arrow-current.png);
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 24px;
	}

	/* SUB MENU */
	nav.base-nav ul.mythemes-menu ul,
	nav.base-nav div.mythemes-menu > ul ul{
		background-color: transparent;
		display: none;

		list-style: none;
		padding: 0px;
		position: absolute;
		width: 200px;
		z-index: 100;	
		text-align: left;

		z-index: 10002;

		-webkit-transition: all 0.3s linear;
	       -moz-transition: all 0.3s linear;
	    	 -o-transition: all 0.3s linear;
	    	-ms-transition: all 0.3s linear;
	    		transition: all 0.3s linear;
	}

	nav.base-nav ul.mythemes-menu > li > ul,
	nav.base-nav div.mythemes-menu > ul > li > ul{
		padding-top: 15px;
		background-image: url( ../img/sub-nav-top-arrow.png);
		background-position: 15px 3px;
		background-repeat: no-repeat;
	}

	nav.base-nav li:hover > ul{
		display: block;
	}

	nav.base-nav ul.mythemes-menu ul li,
	nav.base-nav div.mythemes-menu > ul ul li{
		background-color: rgba( 0, 0, 0, 0.85 );

		width: 201px;
		padding: 11px 15px;
	}

	nav.base-nav ul ul li,
	nav.base-nav ul ul li a{
		font-family: "Open Sans", sans-serif, Arial, serif;
		font-weight: 300;
		font-size: 13px;
		display: block;
	}
	nav.base-nav ul ul > li:first-child{
		border-top: none;

		-webkit-border-top-left-radius: 3px;
       	   -moz-border-top-left-radius: 3px;
            	border-top-left-radius: 3px;

        -webkit-border-top-right-radius: 3px;
       	   -moz-border-top-right-radius: 3px;
            	border-top-right-radius: 3px;
	}

	nav.base-nav ul ul > li:last-child{
		-webkit-border-bottom-left-radius: 3px;
       	   -moz-border-bottom-left-radius: 3px;
            	border-bottom-left-radius: 3px;

        -webkit-border-bottom-right-radius: 3px;
       	   -moz-border-bottom-right-radius: 3px;
            	border-bottom-right-radius: 3px;
	}

	nav.base-nav ul ul li{
		border-top: 1px solid rgba( 255, 255, 255, 0.05 );
		-webkit-font-smoothing: antialiased;
	}
	nav.base-nav ul ul li.menu-item-has-children > a{
		background-image: url(../img/nav-orizontal-arrow.png);
		background-repeat: no-repeat;
		background-position: center right;
	}
	
	nav.base-nav ul ul li.menu-item-has-children.current-menu-ancestor > a,
	nav.base-nav ul ul li.menu-item-has-children:hover > a,
	nav.base-nav ul ul li.menu-item-has-children > a:hover{
		background-image: url(../img/nav-orizontal-arrow-hover.png);
	}

	/* SUB MENU NEXT LEVELS */
	nav.base-nav ul ul ul{
		margin: -29px 0px 29px 186px;
	}
}

/* BASE MENU */
@media ( max-width: 1024px ){
	div.visible-nav{
		display: block;
		visibility: visible;
	}
	div.jspVerticalBar{
		display: block !important;
	}

	div.dark-mask{
		background: rgba( 0, 0, 0, 0.85 );
		position: fixed;
		padding: 0px;
		top: 0px;
		left: 0px;
		width: 100%;
		min-height: 100%;
		
		z-index: 10002;
	}
	div.dark-mask{
		display: none;
	}
	nav.base-nav.in + div.dark-mask{
		display: block;
	}
	nav.base-nav{
		position: fixed;
		overflow: hidden;
		padding: 0px;
		top: 0px;
		left: 0px;
		width: 100%;
		min-height: 100%;
		
		z-index: 10003;

    	background: -webkit-linear-gradient( 60deg, rgba( 44, 200, 111, 0.8 ) 0%, rgba( 0, 174, 239, 0.8 ) 100% );
    	background: -moz-linear-gradient( 60deg, rgba( 44, 200, 111, 0.8 ) 0%, rgba( 0, 174, 239, 0.8 ) 100% );
    	background: -ms-linear-gradient( 60deg, rgba( 44, 200, 111, 0.8 ) 0%, rgba( 0, 174, 239, 0.8 ) 100% );
    	background: -o-linear-gradient( 60deg, rgba( 44, 200, 111, 0.8 ) 0%, rgba( 0, 174, 239, 0.8 ) 100% );
    	background: linear-gradient( 60deg, rgba( 44, 200, 111, 0.8 ) 0%, rgba( 0, 174, 239, 0.8 ) 100% );
	}

	body.admin-bar div.dark-mask,
	body.admin-bar nav.base-nav{
		top: 32px;

		min-height: calc( 100% - 32px );
    	min-height: -webkit-calc( 100% - 32px );
	}

	nav.base-nav.header-nav.in{
		text-align: left;
		max-height: calc( 100% - 66px );
		max-height: -webkit-calc( 100% - 66px );
	}
	nav.base-nav div.nav-pre-wrapper{
		width: 90%;
		display: block;
		margin: 70px auto 50px auto;

		min-height: calc( 100% - 120px );
    	min-height: -webkit-calc( 100% - 120px );

    	max-height: calc( 100% - 120px );
    	max-height: -webkit-calc( 100% - 120px );
	}
	nav.base-nav div.nav-wrapper{
		position: absolute;
		width: 90%;
		min-height: calc( 100% - 120px );
    	min-height: -webkit-calc( 100% - 120px );

    	max-height: calc( 100% - 120px );
    	max-height: -webkit-calc( 100% - 120px );

    }
	nav.base-nav div.nav-wrapper ul#menu-header{
		padding: 0px 10%;
	}
	nav.base-nav ul.mythemes-menu{
		text-align: left;
		padding: 0px;
	}
	nav.base-nav span.menu-plus{
		background-color: transparent;
		border: 1px solid rgba( 255, 255, 255, 0.3 );

		color: rgba( 255, 255, 255, 0.7 );

		display: block;

		float: right;
		text-align: center;

		margin: 8px 2px 0px 0px;

		width: 30px;
		height: 30px;

		-webkit-box-sizing: border-box;
       	   -moz-box-sizing: border-box;
        	-ms-box-sizing: border-box;
         	 -o-box-sizing: border-box;
            	box-sizing: border-box;

		-webkit-transition: all 0.3s linear;
	       -moz-transition: all 0.3s linear;
	    	 -o-transition: all 0.3s linear;
	    	-ms-transition: all 0.3s linear;
	    		transition: all 0.3s linear;
	}
	nav.base-nav span.menu-plus:hover{
		color: rgba( 255, 255, 255, 1.0 );
		border: 1px solid rgba( 255, 255, 255, 0.7 );
	}
	nav.base-nav span.menu-plus:before{
		cursor: pointer;

		font-family: "fontello";
		font-size: 16px;
		font-variant: normal;
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		text-align: center;
		font-variant: normal;
		text-transform: none;

		content: '\e8d8';
		line-height: 28px;

		width: 28px;
		height: 28px;

		-webkit-box-sizing: border-box;
       	   -moz-box-sizing: border-box;
        	-ms-box-sizing: border-box;
         	 -o-box-sizing: border-box;
            	box-sizing: border-box;

		-webkit-transition: all 0.3s linear;
	       -moz-transition: all 0.3s linear;
	    	 -o-transition: all 0.3s linear;
	    	-ms-transition: all 0.3s linear;
	    		transition: all 0.3s linear;
	}
	nav.base-nav span.menu-plus.collapsed:before{
		content: '\e8d7';
	}

	nav.base-nav ul.mythemes-menu,
	nav.base-nav ul.mythemes-menu li{
		display: block;
	}
	nav.base-nav ul.mythemes-menu li{
		border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
	}
	nav.base-nav ul.mythemes-menu > li:first-child{
		border-top: 1px solid rgba( 255, 255, 255, 0.1 );
	}
	nav.base-nav ul.mythemes-menu li:last-child{
		border-bottom: none;
	}
	nav.base-nav ul.mythemes-menu li a{
		color: rgba( 255, 255, 255, 0.7 );
		font-size: 18px;
		line-height: 24px;
		margin-right: 30px;
		padding: 11px 10px 11px 3px;
	}
	nav.base-nav ul.mythemes-menu li a:hover{
		color: rgba( 255, 255, 255, 1.0 );
	}
	nav.base-nav ul.mythemes-menu li.current-menu-item > a{
		color: rgba( 255, 255, 255, 1.0 );	
	}
	nav.base-nav ul li.current-menu-ancestor > a,
	nav.base-nav ul li.current-menu-item > a,
	nav.base-nav ul li:hover > a,
	nav.base-nav ul li a:hover{
		color: rgba( 255, 255, 255, 1.0 );	
	}
	nav.base-nav ul li.current-menu-ancestor > span.menu-plus{
		color: rgba( 255, 255, 255, 1.0 );
		border: 1px solid rgba( 255, 255, 255, 0.7 );
	}
	nav.base-nav ul.mythemes-menu ul{
		display: none;
		padding-left: 15px;
	}
	nav.base-nav ul.mythemes-menu ul > li:first-child{
		border-top: 1px solid rgba( 255, 255, 255, 0.1 );
	}
}

@media ( max-width: 782px ){
    body.admin-bar div.dark-mask,
    body.admin-bar nav.base-nav{
		top: 46px;

		min-height: calc( 100% - 46px );
    	min-height: -webkit-calc( 100% - 46px );
	}

	body.admin-bar nav.base-nav button.btn-collapse{
		top: 60px;
	}

}
@media ( max-width: 600px ){
    body.admin-bar.scrolled-46 div.dark-mask,
    body.admin-bar.scrolled-46 nav.base-nav{
		top: 0px;

		min-height: 100%;
	}
	body.admin-bar nav.base-nav button.btn-collapse{
		top: 60px;
	}

	body.admin-bar.scrolled-46 nav.base-nav button.btn-collapse{
		top: 14px;
	}
}